/*
RTL styles for Cols

>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
13.0 Media Queries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

caption, th, td {
	text-align: right;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/

.site-branding h1 {
	float: right;
}

h2.site-description {
	float: right;
	margin: 0 5px 0 0;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/

ul, ol {
	margin: 0 3em 1.5em 0;
}

li > ul,
li > ol {
	margin-right: 1.5em;
	margin-left: auto;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/

textarea {
	padding-right: 3px;
	padding-left: 0;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/

.main-navigation ul {
	padding-right: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	float: right;
	right: 0;
	text-align: right;
	left: auto;
}

.main-navigation ul ul ul {
	right: 100%;
	left: auto;
}

.main-navigation ul ul li:hover > ul {
	right: 100%;
	left: auto;
}

.main-navigation li {
	float: left;
	margin: 2.5px 40px 0 0;
}

/* Small menu */
.menu-toggle {
	float: left;
}

.main-navigation.toggled ul ul {
	right: 0;
	text-align: right;
	left: auto;
}

.main-navigation.toggled ul ul ul {
	right: 0;
	left: auto;
}

.main-navigation.toggled ul ul li:hover > ul {
	right: 0;
	left: auto;
}

@media screen and (max-width: 600px) {

}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: right;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: left;
	text-align: left;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */

.screen-reader-text:focus {
	right: 5px;
	left: auto;
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignright {
	float: right;
	margin-left: 1.5em;
	margin-right: auto;
}

.alignleft {
	float: left;
	margin-right: 1.5em;
	margin-left: auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/

.content-area {
	float: right;
}

/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/

.hentry:after,
#respond:before {
	right: 50%;
	margin-right: -340px;
	left: auto;
	margin-left: auto;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/

.comment-list .comment-author img.avatar {
	float: right;
	margin: 0 0 2.5px 5px;
}

.comment-wrapper {
	margin-right: 70px;
	margin-left: auto;
}

.comment-content {
	float: right;
}

.reply {
	float: left;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/

/* Make sure embeds and iframes fit their containers */

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
13.0 Media Queries
--------------------------------------------------------------*/
/* Define mobile styles */
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
/* min-width 641px, medium screens */
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 64.063em) {

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/

/* Make sure embeds and iframes fit their containers */

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/

}

/* min-width 1025px, large screens */
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
/* min-width 1441px, xlarge screens */
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 120.063em) {

}

/* min-width 1921px, xlarge screens */


/* Generated by the RTLer - http://wordpress.org/extend/plugins/rtler/ */
